.advantages {
    .section();
    &__title {
    }
    &__subtitle {
        text-align: center;
        margin-top: 3vh;
        .text();
    }
    &__list {
        .row-flex();
        justify-content: space-between;
        margin-top: 5.81em;
        @media screen and(max-width: @break_lg) {
            .advantages__list_item:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }
        @media screen and(max-width: @break_xs) {
            .advantages__list_item, .advantages__list_item:nth-child(odd) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .advantages__item_img {
                margin: 0 auto;
            }
        }
        
        &_item {
            .col();
            .size(6);
            .size-lg(12);
            display: flex;
            align-items: flex-start;
            border: 1px solid gray;
            margin: 1em auto;
            background: #eeeeee;
            padding: .8em;
            
            &:hover {
                .advantages__item_img {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
            .advantages__item_img {
                .size(12);
                .size-lg(8);
                overflow: hidden;
            }
            
            .advantages__item_description {
                padding: 0 1.2em;
                h3 {
                    .h3();
                }
                p {
                    .text();
                    margin-top: 1em;
                    line-height: 1.5;
                }
            }
        }
    }
}