#catalog {
    background: #eeeeee;
    .catalog {
        @media screen and(max-width: @break_xs) {
            .catalog {
                &__list {
                    justify-content: center;
                }
            }
        }
        .section();
        &__list {
            .row-flex();
            justify-content: space-between;
            margin: 10vh 0;
            &_item {
                .col();
                .size(3);
                .size-lg(6);
                .size-sm(6);
                .size-xs(11);
                margin-top: 1em;
                margin-bottom: 1em;
                .product {
                    text-decoration: none;
                    color: @title;
                    &:hover {
                        .product__item_button {
                            opacity: 1;
                        }
                        .button {
                            transform: translate(-50%, -50%) scale(1);
                        }
                        .product__description {
                            &_title {
                                color: #c0a97a;
                                &:after {
                                    background: #c0a97a;
                                }
                            }
                        }
                    }
                    &__item {
                        position: relative;
                        width: 100%;
                        max-width: 15.625em;
                        height: 27.5em;
                        margin: 0 auto;

                        &_img {
                            width: inherit;
                            height: inherit;
                        }
                        &_button {
                            .text();
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            margin: 0 auto;
                            background: rgba(0, 0, 0, .8);
                            opacity: 0;
                            .button {
                                text-decoration: none;
                                color: #c0a97a;
                                width: 140px;
                                height: 40px;
                                line-height: 40px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                border: 2px solid #c0a97a;
                                transform: translate(-50%, -50%) scale(0);
                                text-align: center;
                                background: black;
                            }
                        }
                    }
                    &__description {
                        text-align: center;
                        text-transform: uppercase;
                        color: #5e5e5e;
                        &_title {
                            .h3();
                            color: #2e2e2e;
                            font-weight: 600;
                            position: relative;
                            margin: 1em 0 .4em;
                            padding-bottom: .4em;
                            &:after {
                                content: "";
                                position: absolute;
                                width: 40px;
                                height: 2px;
                                background: #2e2e2e;
                                left: 50%;
                                margin-left: -20px;
                                bottom: 0;
                            }
                        }
                        &_price {
                            .text();
                            color: #c0a97a;
                            font-weight: 700;
                            &::after {
                                content: " ₽";
                            }
                        }
                    }
                }
            }
        }
        &__button {
            margin: 6.25em auto 0;
            text-align: center;

            .button {
                .button();
                color: #000;
                border-color: #000;
                font-weight: 550;
                &:hover {
                    border-color: #c0a97a;
                    color: #94825d;
                }
                &:active {
                    border-color: #c0a97a;
                    border-radius: 1em;
                }
            }
        }
    }
}