#contacts {
    background: #eeeeee;
    .contacts {
        .section();
        &__content {
            .row-flex();
            margin-top: 70px;
            justify-content: space-between;
            @media screen and (max-width: @break_sm) {
                flex-direction: column-reverse;
                .contacts__content_container {
                    margin: 0 auto 50px;

                }
            }
            &_form {
                .col();
                .size(5);
                .size-sm(12);
                
                input, textarea, button {
                    .text();
                    display: block;
                    resize: none;
                    padding: 15px;
                    width: 70%;
                    margin: 15px auto;
                    border: 1px solid #c0a97a;
                    border-radius: 0;
                }
                button {
                    width: 40%;
                    &:hover {
                        background: #c0a97a;
                        color: #fff;
                    }
                }
            }
            &_container {
                .col();
                .size(7);
                .size-sm(12);
                .contact {
                    .content() {
                        .row-flex();
                        padding-top: 10px;
                        padding-bottom: 10px;
                        justify-content: space-between;
                        border-bottom: 1px solid gray;
                    }
                    .content-title() {
                        font-size: 1.2rem;
                        .col();
                        .size(5);
                    }
                    .content-text() {
                        font-size: 1rem;
                        .col();
                        .size(6);
                    }
                    &__addr {
                        .content();
                        &_title {
                            .content-title();
                        }
                        &_content {
                            .content-text();
                        }
                    }
                    &__number {
                        &_sales {
                            .content();
                        }
                        &_admin {
                            .content();
                        }
                        &_title {
                            .content-title();
                        }
                        &_content {
                            .content-text();
                        }
                    }
                    &__email {
                        .content();
                        &_title {
                            .content-title();
                        }
                        &_content {
                            .content-text();
                        }
                        
                    }
                    &__map {
                        position:relative;
                        margin: 20px;
                        padding-bottom:56.25%;
                        padding-top:30px;
                        height:0;
                        overflow:hidden;
                        border:1px solid #ccc;
                        iframe {
                            position:absolute;
                            top:0;
                            left:0;
                            width:100%;
                            height:100%;
                        }
                    }
                    
                }
            }
        }
    }
}