.header {
    position: relative;
    background:  center center /cover no-repeat fixed rgba(0, 0, 0, 0.3) url(../images/header-bg-test2.jpg);
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: center;
    @media screen and(max-width: @break_sm) {
        background:  center center /cover no-repeat fixed rgba(0, 0, 0, 0.3) url(../images/header-bg-mobile.jpg);        
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    &__content {
        position: relative;
        z-index: 9998;
        text-align: center;
        padding: 15em 0;
        margin: 0 auto;
        &_title {
            .h1();
            text-shadow:  3px 5px 6px #000;
            margin: 0 auto;
            .header__content_subtitle {
                font-size: 2.5rem;
                display: block;
            }
        }
        &_button {
            margin: 3em auto;
            .button {
                .button();
                text-shadow:  3px 5px 6px #000;

            }
        }
        &_popup {
            display: none;
            position: fixed;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &.active {
                display: block;
            }
            .popup {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .form {
                position: relative;
                top: 40%;
                background: #fff;
                .size(4);
                .size-lg(8);
                .size-md(8);
                .size-sm(10);
                margin: 0 auto;
                height: auto;
                padding: .5em 1.2em;
                z-index: 9999;
                input, textarea, button {
                    .text();
                    display: block;
                    resize: none;
                    padding: 1em;
                    width: 70%;
                    margin: 1em auto;
                    border: 1px solid #c0a97a;
                    border-radius: 0;
                }
                button {
                    width: 40%;

                    &:hover {
                        background: #c0a97a;
                        color: #fff;
                    }
                }
            }
            
        }
    }
}