.header {
    background: fixed  center / cover no-repeat rgba(0, 0, 0, 0.3) url(../images/header-bg.jpg);
    min-height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
    }
    &__content {
        position: relative;
        z-index: 9998;
        text-align: center;
        padding-top: 40vh;
        margin: 0 auto;
        &_title {
            .h1();
            width: 70%;
            margin: 0 auto;
        }
        &_button {
            .button {
                .button();
            }
        }
        &_form {
            display: none;
            position: fixed;
            margin: 50px auto;
        }
    }
}